<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>{{'APP.TITLE' | translate}}</h1>
  <fa-icon icon="globe"></fa-icon>
  <fa-icon icon="user"></fa-icon>
  <div>
    <language-selector [languages]="languages" [isMobile]="isMobile"></language-selector>
  </div>
</div>

