<div>
    <span>{{'SELECTOR' | translate}}</span>
  <div>
    <custom-selector *ngIf="!isMobile" [languages]="languages"></custom-selector>
    <native-selector *ngIf="isMobile" [languages]="languages"></native-selector>
  </div>
</div>
