ul {
  height: 30px;
  width: 100px;
  border: 1px black solid;
  border-radius: 10px;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}
ul li {
  padding: 5px 10px;
  cursor: pointer;
}
ul li:not(.button) {
  width: 150px;
  background: gray;
}
ul li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
ul li:nth-child(2) {
  border-top-right-radius: 10px;
}
ul li:not(.button):hover {
  background: deepskyblue;
}
li.selected:before {
  content: '✓';
}
