<ul>
  <li class="button" (click)="isOpen = !isOpen">{{currentLang.name}}</li>
  <ng-container *ngIf="isOpen">
    <li *ngFor="let language of languages"
        (click)="[setLanguage(language.value), isOpen = false]"
        [ngClass]="{'selected': language === currentLang}">
      {{language.name}}
    </li>
  </ng-container>
</ul>
