<select [ngModel]="translate.currentLang" (ngModelChange)="setLanguage($event)" *ngIf="!isMobile">
  <option *ngFor="let language of languages" [ngValue]="language.value">
    {{language.name}}
  </option>
</select>
